Algorithm/Example/.vs
Algorithm/Example/.vscode
Algorithm/Example/Debug
Algorithm/Example/Example/Debug

Structure/Example/.vs
Structure/Example/.vscode
Structure/Example/Debug
Structure/Example/Example/Debug